* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
h1{
    margin-left: 30%;
    margin-top: -5%;
    font-family: Arial, Helvetica, sans-serif;

}
.logo img{
    width: 300px;
    height: 45vh;
    padding-top: -3px;
    margin: -80px 0px 0px 0px;
    padding-left:-10px ;
} 
.fa-times{
    visibility: hidden;
}
nav{
    /* background-color: #f99400; */
    min-height: 70px;
   display: flex;
   justify-content: center; 
   padding-top: 10px;
   gap:100px;
   width: 100%;
   
   }
   .links-container ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:20px;
    padding-top: 0px;
     margin-top: 5%;
   
}  
.nav-link{
    transition: 0.7s ease;
}

a:hover {
    background: black;
    color: #f1f1f1;
    transition: 1.2s ease-in;
    border-bottom: 2px solid rgb(20, 24, 14);
}

.links-container ul li,a{
    color: #091114;
    font-size:20px;
    font-weight: 600;
}

/* dropdown part */
.dropbtn {
    display: flex;
    gap: 10px;
}
.dropbtn button{
    color:#091114;
    padding: 0px;  
    font-size:20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a svg{
    margin-right: 10px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(217, 215, 238); 
}
.down{
    width: 30px;
    height: 20px;
}
.hamburger{
    display:none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 40px;
    height: 6px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #262626;
}

.formcontainer{
    width: 50%;
    height: 150vh;
    background-color: #e5dbdb93;
    border: 1px solid #d7d3d3;
    border-radius: 6px;
    padding: 0px;
    align-content: center;
    margin-left: 25%;
    

}
form{
    margin-top: 2%;
    margin-left: 15%;
    /* border-right: 1px solid #d7d3d3; */
    width: 75%;
}
.bqimage{
    background-image: url(../images/croped\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35vh;
}
h2{
     font-size: 25px;
     color: #f99400;
     text-align: justify;
     margin-left: 15%;
     margin-top: 2%;
     font-weight: 800;
     font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-row {
    display: flex;
}
.wrapper {
    border: 1px solid #e4e3e2;
    border-right: 0;
    
}
canvas#signature-pad {
    background: #fff;
    width: 100%;
    height: 90%;
    cursor: crosshair;
    border-radius: 6px 0px 6px 6px;

}
button#clear {
    height: 90%;
    background: #f99400;
    border: 1px solid transparent;
    border-radius: 0px 6px 6px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
button#clear span {
    transform: rotate(90deg);
    display: block;
}
/* #4b00ff */
input[type=text] {
    background: #f8f8f8;
    border-bottom: 1px solid #d0d0d0;
    border: none;
    box-shadow: inset 0 1px 3px rgba(0,0,.1,.2);
    color: #555;
    display: inline-flex;
    font-size: 16px;
    padding: 10px 12px;
    width: 400px;
    outline: none;
    margin-top: 1%;
    border-radius: 6px;
}
input[type=email] {
    background: #f8f8f8;
    border: 1px solid #d0d0d0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    color: #555;
    display: inline-block;
    font-size: 16px;
    padding: 10px 12px;
    width: 400px;
    margin-top: 1%;
    outline: none; border-radius: 6px;
    border: none;
}
textarea{
    width: 100%;
    height: 15vh;
    border: none;
    outline: none;
}
.btn {
    background-color: #f99400;
    color: #f8f8f8;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 3px;
    width: 40%;
    height: 8vh;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    
}
.last{
    font-size: 15px;
    font-weight: 400;
    color: #aca8a8;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.last span{
    font-size: 15px;
    font-weight: 800;
    color: #f99400;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.copyright{
    text-align: center;
    font-size: 15px;
    color: #aca8a8;
}

/* label{
    color: #0000;
    font-weight: 800;
} */
/* ================Responsiveness========= */
@media screen and (max-width: 768px){
    body{
        padding: auto;
    }
    .hamburger {
        padding-top: 0%;
        display: block;
        margin-left: 80%;
        margin-top: -32%;
    }
    .logo img {
        width: 200px;
        height: 30vh;
        margin-top: -15%;
        margin-left: 4%;
        margin-bottom: 0%;
        margin-right: 0%;
    }
    nav{
        display: block;
        flex-direction: column-reverse;
    }
    .links-container{
        position: fixed;
        top: 0%;
        right: -600px;
        width: 55%;
        height: 40vh;
        background-color: #fff;
        z-index: 2;
    }
    .links-container ul li, a {
        color: #16191a;
        font-size: 20px;
        font-weight: 600;
        margin-left: 3%;
    }
    .dropbtn button {
        color: #16191a;
        padding: 0px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        background-color: transparent;
        margin-left: 3%;
    }
.links-container ul{
    display: block;
}
.fa-times{
    visibility: visible;
}

    .signin-form {
        display: block;
        background-color: transparent;
        width: 100%;
        height: 80vh;
        margin-top: 0%;
        padding-top: 0%;
    }
    .form {
        margin-top: 3%;
        margin-left: 3%;
        margin-bottom: 0%;
        margin-right: 0%;
    }
    form {
        margin-top: 2%;
        margin-left: 5%;
        /* border-right: 1px solid #d7d3d3; */
        width: 75%;
    }

    input[type=text] {
        background: #f8f8f8;
        border: 1px solid #d0d0d0;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        color: #555;
        display: block;
        font-size: 16px;
        padding: 10px 12px;
        width: 300px;
        outline: none;
        margin-top: 2%;
    }
    input[type=email] {
        background: #f8f8f8;
        border: 1px solid #d0d0d0;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        color: #555;
        display: block;
        font-size: 16px;
        padding: 10px 12px;
        width: 300px;
        outline: none;
        margin-top: 2%;
    }
    input[type=password] {
        background: #f8f8f8;
        border: 1px solid #d0d0d0;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        color: #555;
        display: block;
        font-size: 16px;
        padding: 10px 12px;
        width: 300px;
        margin-top: 2%;
        outline: none;
    }
    .form button {
        padding: 12px 0px;
        background: #f99400;
        color: #ffff;
        border: none;
        outline: none;
        width: 170px;
        text-align: center;
        margin-top: 5%;
        border-radius: 15px;
        background: linear-gradient(180deg,#f99400 0,#d67500);
        margin-left: 10%;
    }
    h1 {
        margin-left: 10%;
        margin-top: 15%;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
    }
    .formcontainer {
        width: 95%;
        height: 140vh;
        background-color: #e5dbdb93;
        border: 1px solid #d7d3d3;
        border-radius: 6px;
        align-content: center;
        margin-left: 3%;
        margin-right: 3%;
    }
    .btn {
        background-color: #f99400;
        color: #f8f8f8;
        font-weight: 600;
        outline: none;
        border: none;
        padding: 3px;
        width: 45%;
        height: 8vh;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        border-radius: 6px;
        font-family: 'Roboto', sans-serif;
        margin-top: 16%;
    }
    canvas#signature-pad {
        background: #fff;
        width: 100%;
        height: 120%;
        cursor: crosshair;
        border-radius: 6px 0px 6px 6px;
    }
    button#clear {
        height: 120%;
        background: #f99400;
        border: 1px solid transparent;
        border-radius: 0px 6px 6px 0px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }
    .social-con a {
        border-radius: 6px;
        color: #fff;
        float: left;
        font-size: 18px;
        line-height: 1;
        margin: 0 10px 12px 0;
        padding: 13px 0 11px 45px;
        text-align: left;
        text-decoration: none;
        width: 90%;
        position: relative;
        box-sizing: border;
        background-color: #1877f2;
    }
    .social-con {
        display: block;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 0%;
        margin-right: 0%;
    }
    .forget-passwd a {
        text-decoration: none;
        font-size: 15px;
        margin-top: -3%;
        margin-left: 59%;
        color: #1877f2;
        text-wrap: nowrap;
    }
}